# Environment variables and virtual environments
.env
.env/
.venv/
env/
venv/
ENV/

# Python cache and bytecode
__pycache__/
*.pyc
*.py[cod]
*.pyo

# C extensions
*.so

# Distribution / packaging
build/
dist/
.eggs/
*.egg
*.egg-info/
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Editor and IDE settings
.vscode/
.idea/
*.sublime-*

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
bin*
# Node.js dependencies
node_modules/

# Local mount
path-to-local*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
