option_settings:
  aws:elasticbeanstalk:application:environment:
    POSTGRES_SECRET_NAME: POSTGRES_PASSWORD_V2 # TODO remove V2
    OPENAI_SECRET_NAME: OPENAI_API_KEY_V2 # TODO remove V2
    POSTGRES_USER: postgres
    POSTGRES_DB: numbersdb
    DB_HOST: numbers-db.c8b66e6i2p25.us-east-1.rds.amazonaws.com
    CONTAINER_API_PORT: "5000"
    CONTAINER_DB_PORT: "5432"
