Resources:
  # Remove the default HTTP listener entirely
  AWSEBV2LoadBalancerListener:
    Type: "AWS::ElasticLoadBalancingV2::Listener"
    Properties:
      LoadBalancerArn:
        Ref: "AWSEBV2LoadBalancer"
      Port: 80
      Protocol: HTTP
      DefaultActions:
        - Type: "fixed-response"
          FixedResponseConfig:
            StatusCode: 403
            ContentType: "text/plain"
            MessageBody: "Forbidden"
